<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>登录</title>

    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

	<link rel="stylesheet" href="../static/css/bg.css" th:href="@{/css/bg.css}"/>
	<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script> 
<script src="//cdn.bootcss.com/angular.js/1.5.6/angular.min.js"></script>
<script type="text/javascript">
	/*<![CDATA[*/
	var app = angular.module('app', []);
	app.controller('MainController', function($rootScope, $scope, $http) {
		$scope.message = '';
		$scope.account = '';
		$scope.password = '';

		//登录
		$scope.login = function() {
			$scope.message = '';
			$http(
					{
						url : '/loginPost',
						method : 'POST',
						headers : {
							'Content-Type' : 'application/x-www-form-urlencoded'
						},
						data : 'account=' + $scope.account + '&password='
								+ $scope.password
					}).success(function(r) {
				if (!r.success) {
					$scope.message = r.message;
					return;
				}
				window.location.href = '/index';
			});
		}

	});

	/*]]>*/
</script>
</head>
<body ng-app="app" ng-controller="MainController">

<div id="login">
    <div class="wrapper">
        <div class="login">
            <form action="#" class="container offset1 loginform">
                <div class="pad">
                    <input type="hidden" name="_csrf" value="9IAtUxV2CatyxHiK2LxzOsT6wtBE6h8BpzOmk="/>
                    <div class="control-group">
                        <div class="controls">
                            <label for="userName" class="control-label">用户名:<i class="fa fa-user" aria-hidden="true"></i></label>
                            <input id="userName" type="text" ng-model = "account" placeholder="账号" tabindex="1" autofocus="autofocus" class="form-control input-medium" />
                            <br />
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label for="password" class="control-label">密码:<i class="fa fa-key" aria-hidden="true"></i></label>
                            <input id="password" type="password" ng-model = "password" placeholder="密码" tabindex="2" class="form-control input-medium" />
                        </div>
                    </div>
                </div>
                <div class="form-actions"><a href="#" tabindex="5" class="btn pull-left btn-link text-muted"><strong class="ft1">Forgot password?</strong></a><a href="#" tabindex="6" class="btn btn-link text-muted"><strong class="ft1">Sign Up</strong></a>
                    <button type="button" id="doLogin" tabindex="4" class="btn btn-primary" ng-click = "login()">Login</button>
                </div>
                <br/>
				<font color="red" ng-show="message" class="font1">{{message}}</font>
            </form>
        </div>
    </div>
</div>



    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>